html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;;
  background: #13131D;
  font-weight: 100;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.web3modal-modal-lightbox { z-index: 9999 !important; }

body::-webkit-scrollbar {
  width: 0 !important;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


#portal {
  z-index: 9999;
}
